<app-dashboard></app-dashboard>
<div>
    <h1 class="heading">Ticket Details</h1>
</div>
<form [formGroup]="issueForm" (ngSubmit)="onsubmit()" id="form">

    <input class="hide" type=text formControlName="username" readonly>
    <br>
    <label class="label">Username: </label>
    <input class="input mx-2" type=text formControlName="username" readonly>
    <br>
    <label class="label mt-4">Subject: </label>

    <input class=" mx-4" type="text" formControlName="subject" readonly>
    <br><br>
    <label class="label">Description</label><br>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"
        readonly></textarea>
    <div class="form-group ">
        <label class="label">Status</label>
        <select formControlName="status" class="form-control" aria-label="Default select example">
            <option value="Open">Open</option>
            <option value="Close">Close</option>
            <option value="Pending">Pending</option>
            <option value="Inprogress">Inprogress</option>
            <option value="Not approved">Not_approved</option>
        </select>
    </div><br><br>
    <button class="btn btn-success">submit</button>
    <button class="btn btn-danger mx-5" routerLink="/staffticketlist">cancel</button>
</form>
