<app-dashboard></app-dashboard>
<div class="login">

    <div class="register-form" class="form">

        <form [formGroup]="passwordform" (ngSubmit)="onSubmit()">
            <div class="form-group " id="hide">
                <label>Confirm Password</label>
                <input type="text" formControlName="username" class="form-control" readonly
                    [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Password is required</div>
                </div>
            </div>

            <div class="form-group " id="name">
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control" readonly
                    [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Password is required</div>
                </div>
            </div><br>
            <div class="form-group ">
                <label>New Password</label>
                <input type="text" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">password is required</div>
                    <div *ngIf="f['password'].errors['minlength']">password must be at least 6 characters</div>
                    <div *ngIf="f['password'].errors['maxlength']">password must not exceed 40 characters</div>
                </div>
            </div>
            <br>
            <div class="form-group ">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmpassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['confirmpassword'].errors }" />
                <div *ngIf="submitted && f['confirmpassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirmpassword'].errors['required']">Password is required</div>
                </div>
            </div><br>
            <div class="c2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div><br>
        </form>

    </div>
</div>
<div>
    <h1 class="heading">Change Password</h1>
</div>