p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.register-form {
  max-width: 350px;
  margin: auto;
}

.login {
  margin-left: 40%;
  background-color: rgb(245, 244, 247);
  margin-top: -45%;
  border-radius: 5%;
  padding: 3%;
  width: 400px;
  position: absolute;
}

.para {
  text-align: center;
}

.c2 {
  text-align: center;
}

.heading {
  margin-left: 20%;
  margin-top: -45%;
}

#hide {
  width: 0%;
  opacity: 0%;
}

#name {
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 900;
}