p {
  font-family: Lato;
}

#root {
  padding: 30px;
}

.register-form {
  max-width: 350px;
  margin: auto;
}

.login {
  margin-left: 37%;
  margin-top: -48%;
  border-radius: 5%;
  padding: 3%;
  width: 500px;
  height: 75vh;
}

.heading {
  font-weight: bold;
  margin-left: 20%;
  margin-top: -35%;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}